<section class="products">
  <div class="container">
    <ul>
      {% for collection in collections %}
        <li>{{ collection.id }} : {{ collection.title }}</li>
      {% endfor %}
    </ul>
    <ul>
      {% for product in collections.all.products %}
        <li>
          <pre>{{ product.images[0] | img_url | img_tag }}</pre>
          <a href="{{ product.url }}">
            <h3>{{ product.title }}</li></h3>
          </a>
      {% endfor %}
    </ul>
  </div>
</section>