<h1>Cart</h1>
<div class="cart" x-data="{ cart: {{ cart | json | escape }} }">
	<pre x-html="JSON.stringify(cart)"></pre>		
	<table border="1">
		<tr>
			<th>SKU</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>&nbsp;</th>
		</tr>
		{% for item in cart.items %}
		  <tr>
		  	<td>{{ item.sku }}</td>
		  	<td>{{ item.title }}</td>
		  	<td>{{ item.final_price | money_with_currency }}</td>
		  	<td>{{ item.quantity }}</td>
		  	<td>
		  		<button data-remove-line-item="{{ item.id }}">remove</button>
		  	</td>
		  </tr>
		{% endfor %}
	</table>
</ul>